<!-- aplicamos - include mas la ruta del archivo significa dividir un html en varias partes-->
<!-- y luego unirlos con ejs llamado ejs partials -->
<%- include('partials/header'); %>
    <!-- para aplicar el ejs en el html usamos -->
    <h1>Pagina con Express</h1>
    <h2>
        <%= title %>
    </h2>

    <!-- se puede aplicar logica de js usando ejs sin el signo igual -->
    <% if(isActive) { %>
        <p>esta activo</p>
    <% } else { %>
        <p>esta inactivo</p>
    <% } %>

<%- include('partials/footer'); %>
